[submodule "OkamiHD-ProxyDll"]
	path = OkamiHD-ProxyDll
	url = https://github.com/Shintensu/OkamiHD-ProxyDll
[submodule "OkamiHD-SFSAM"]
	path = OkamiHD-SFSAM
	url = https://github.com/Shintensu/OkamiHD-SFSAM.git
